
.formWrapper {
  border: 1px dashed black;
  padding: 1rem;
  max-width: 300px;
  margin: 0 auto 2rem auto;
}

.legend {
  padding: 0 0.5rem;
  font-weight: bold;
  font-size: 1.1rem;
}

.label {
  display: block;
  margin-bottom: 0.3rem;
  font-weight: bold;
}

.input,
.select {
  width: 100%;
  padding: 0.4rem;
  margin-bottom: 1rem;
  border: 1px solid #888;
  font-size: 1rem;
}

.button {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
}
